@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
}

#logo{
    display: inline-block;
    position: absolute;
    left: 18px;
    top: 18px;
}

#logo img{
    display: block;
    margin: auto;
    width: 55px;
}

h2{
    color: aqua;
    text-align: center;
}

.container {
    position: absolute; 
    height: 500px;
    width: 500px;
    left: 32%;
    top: 32%;
  }

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url("IMG_20220608_001650.jpg") no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}